

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	background-image: url("../img/bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

footer {
	text-align: center;
}
a{
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
}
a:link, a:visited:link {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}
input[type="text"],
input[type="password"],
input[type="number"]{
	width: 100%;
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #b6b6b4;
}
.n-p-l-r {
    padding-left: 0;
    padding-right: 0
}
.n-p-l {
    padding-left: 0
}
.n-p-r {
    padding-right: 0
}
.n-p {
    padding: 0
}
.txt-sm {
	font-size: .9em
}
.boton {
    position: relative;
    margin: 2rem 1rem 0 0;
    /* background-color: #ED1C24; */
    padding: 20px 35px;
    display: inline-block;
    border: 1px solid #ce161c;
    border-radius: 5px;
    text-shadow: 0 1px white;
    background: #ED1C24;
    box-shadow: 0 5px 0 #ce161c, 0 8px 5px rgba(0,0,0,0.3);
    color: #FFF;
    text-transform: uppercase;
}
.boton:hover, .boton-sm:hover, .boton-head:hover {
    top: 3px;
    background-color: #ce161c;
    box-shadow: 0 2px 0 0 #ce161c, 0 5px 3px rgba(0,0,0,0.2);
    color: #FFF;
    text-decoration: none;
}
.boton-sm-grey:hover {
    top: 3px;
    background-color: #8A8A8A;
    box-shadow: 0 2px 0 0 #8A8A8A, 0 5px 3px rgba(0,0,0,0.2);
    color: #FFF;
    text-decoration: none;
}
.boton:focus, .boton-sm:focus, .boton-sm-grey:focus, .boton-head:focus {
	text-decoration: none;
	color: #fff
}
.boton-sm {
    position: relative;
    margin: 0 1rem 1rem 0;
    /* background-color: #ED1C24; */
    padding: 10px 15px;
    display: inline-block;
    border: 1px solid #ce161c;
    border-radius: 5px;
    text-shadow: 0 1px white;
    background: #ED1C24;
    box-shadow: 0 5px 0 #ce161c, 0 8px 5px rgba(0,0,0,0.3);
    color: #FFF;
    text-transform: uppercase;
}
.boton-sm-grey {
    position: relative;
    margin: 0 1rem 1rem 0;
    /* background-color: #ED1C24; */
    padding: 10px 15px;
    display: inline-block;
    border: 1px solid #ABABAB;
    border-radius: 5px;
    text-shadow: 0 1px white;
    background: #C7C7C7;
    box-shadow: 0 5px 0 #8A8A8A, 0 8px 5px rgba(0,0,0,0.3);
    color: #FFF;
    text-transform: uppercase;
}
.boton-head {
    position: relative;
    margin: 0 1rem 1rem 0;
    /* background-color: #ED1C24; */
    padding: 3px 15px;
    display: inline-block;
    border: 1px solid #ce161c;
    border-radius: 5px;
    text-shadow: 0 1px white;
    background: #ED1C24;
    box-shadow: 0 5px 0 #ce161c, 0 8px 5px rgba(0,0,0,0.3);
    color: #FFF !important;
    text-transform: uppercase;
}
#login-logo {
    width: 160px;
    position: relative;
    margin-top: -76px;
    left: 30%;
}
#logo-in {
    width: 140px;
}
.login-panel {
    max-width: 420px;
    margin: 10% auto auto auto;
    border: 1px solid #D8D8D8;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    font-size: 1.2em
}
.login-panel:hover {
    box-shadow: 0 0 25px #D8D8D8;
}
.login-button {
	text-align: center;
	margin-bottom: 30px;
}

/* User Panel */
.menu-bar {
	float:left; 
	position: fixed; 
	left: 0; 
	width: 185px;
	height: 100%; 
	background-color: rgba(0, 0 , 0, 0.9);
	font-size: 1.2em;
    z-index: 10
}
.content{
	float: left;
	margin-left: 180px;
}
.menu-bar ul {
	padding: 0
}
.menu-bar li {
    padding: 15px;
    list-style: none;
}
.menu-bar li:first-of-type {
    margin-top: 20px
}
.menu-bar li > a {
    color: #fff;
    text-decoration: none;
    font-weight: bold
}
.menu-bar li > a:hover, .menu-bar li > a.current {
    color: #ED1C24;
}
.pagination-container {
	text-align: center;
}
.rpt-member:hover{
	background-color: #F1F1F1
}
.rpt-member a {
	color: #333
}
#simpleTable th {
	width: 25%;
	cursor: pointer;
}
.inactive-member td {
    vertical-align: middle !important;
}
#payTable th {
    width: 25%;
    cursor: pointer;
}
#mercTable th {
    width: 20%;
    cursor: pointer;
}
#appTable th {
    width: 16,5%;
    cursor: pointer;
}
#membersTable th {
    width: 10%;
    cursor: pointer;
    font-size: 0.8em;
}
#membersTable th.sm{
    width: 7%;
}
.glyphicon-chevron-up, .glyphicon-chevron-down {
	font-size: .8em
}
th.sorting-asc > .glyphicon-chevron-up {
	display: none;
}
th.sorting-desc > .glyphicon-chevron-down {
	display: none;
}
.btn-add-payment {
    margin-top: 23px
}

/* JQuery override */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: #F3F3F3 !important;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background-color: rgba(255, 0, 0, 0.13) !important;
    border: 1px solid #FF0000 !important;
}
.ui-widget-header {
    background: #F3F3F3!important;
    border: 1px solid #D3D3D3 !important;
}

/* Bootstrap override */
.navbar-header {
    min-height: 60px;
}
.navbar-brand {
    padding: 10px 15px;
}
.navbar-right {
    text-align: right;
	margin-right: 0;
	color: #fff
}
.navbar-right p {
	margin: 0;
	font-size: 1.2em
}
.navbar-right a {
	color: #969696;
}
.row {
    margin-left: 0;
    margin-right: 0
}
.panel-default > .panel-heading {
    background: #313131 none;
    color: #fff;
    height: 37px;
}
p {
    margin: 0 0 6px;
}
select{
    padding: 10px;
    text-transform: none;
    border: 1px solid #B6B6B4;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px
}
.breadcrumb a {
    font-weight:bold;
    color: #000;
}
.admin-d {
    display: inline-block;
    margin-top: 8px;
    float: right;
    margin-right: 0px;
    margin-left: 15px;
}

/* Members Report */
.Ballantyne {
    background-color: rgba(166, 77, 121, 0.32);
}
.Ballantyne:hover {
    background-color: rgba(166, 77, 121, 0.50);
}
.Concord {
    background-color: rgba(103, 78, 167, 0.32);
}
.Concord:hover {
    background-color: rgba(103, 78, 167, 0.50);
}
.Denver {
    background-color: rgba(61, 133, 198, 0.32);
}
.Denver:hover {
    background-color: rgba(61, 133, 198, 0.50);
}
.Highland {
    background-color: rgba(69, 129, 142, 0.32);
}
.Highland:hover {
    background-color: rgba(69, 129, 142, 0.50);
}
.Huntersville {
    background-color: rgba(106, 168, 79, 0.32);
}
.Huntersville:hover {
    background-color: rgba(106, 168, 79, 0.50);
}
.Mooresville {
    background-color: rgba(241, 194, 50, 0.32);
}
.Mooresville:hover {
    background-color: rgba(241, 194, 50, 0.50);
}
.container-outer {
    max-width: 100%;
    height: 100%;
}
.container-inner {
    width: 100%;
}
.errMsg {
    text-align: center;
    color: red;
    font-weight: bold;
}

/* Media Queries */
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
@media (max-width: 992px) {
    .btn-add-payment, .btn-user-update {
        width: 100%;
        text-align: center;
    }
    .menu-bar {
        width: 50px;
        z-index: 10;
    }
    .menu-bar a span {
        display:none
    }
    .content {
        margin-left: 50px;
    }
}
@media (max-width: 768px) {
    .admin-d {
        float: none;
    }
    .container-outer {
        overflow-x: scroll;
        max-width: 550px;
        height: 100%;
    }
    .container-inner {
        width: 800px;
    }
}
@media (max-width: 435px) {
    .container-outer {
        overflow-x: scroll;
        max-width: 420px;
        height: 100%;
    }
    .container-inner {
        width: 800px;
    }
}
@media (max-width: 390px) {
    .container-outer {
        overflow-x: scroll;
        max-width: 290px;
        height: 100%;
    }
    .container-inner {
        width: 800px;
    }
}





